.link-internal,
.link-external {
    color: #1d4ed8;
    text-decoration: none;
}

.link-internal:hover,
.link-external:hover {
    text-decoration: underline;
}

.text-icon {
    height: 1em;
}

/* infobox */

.infobox {
    background: #eeeeee;
    border: solid 1px #cccccc;
    width: 320px;
    max-width: 100%;
    padding: 12px;
    float: right;
    margin-left: 16px;
}

.infobox .image {
    display: flex;
    justify-content: center;
}

.infobox .image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 192px;
}

.infobox .caption {
    margin-top: 8px;
    font-size: 12px;
    text-align: center;
    color: #444444;
}

.infobox-section:not(:first-child) {
    margin-top: 16px;
}

.infobox-section-title {
    background-color: #bfdbfe;
    padding: 2px 8px;
    text-align: center;
    font-weight: 600;
}

.infobox-field {
    font-size: 14px;
    line-height: 1.5rem;
}

.infobox-field:not(:first-child) {
    margin-top: 6px;
}

.infobox-field-single {
    text-align: center;
}

.infobox-field-double {
    display: flex;
    justify-content: space-between;
}

/* table of contents */

.toc {
    margin-top: 24px;
    border: solid 1px #cccccc;
    background: #eeeeee;
    padding: 12px;
    display: table;
    line-height: 1.5rem;
}

.toc h2 {
    text-align: center;
    font-weight: 600;
}

.toc ul {
    list-style: none;
    padding: 0;
}

.toc ul ul {
    padding-left: 16px;
}

.toc a {
    text-decoration: none;
}

.toc .number {
    color: #222222;
}

.toc .name {
    color: #1d4ed8;
    margin-left: 4px;
}

.toc a:hover .name {
    text-decoration: underline;
}

/* sections */

.section:not(:first-child) {
    clear: both;
    padding-top: 96px;
    margin-top: -32px;
}

.section .section {
    padding-left: 32px;
}

.section-title {
    font-weight: 600;
}

h2.section-title {
    font-size: 32px;
}

h3.section-title {
    font-size: 24px;
}

h4.section-title,
h5.section-title,
h6.section-title {
    font-size: 16px;
}

/* media */

.media {
    float: right;
    margin-left: 16px;
}

.media .image-container {
    border: solid 1px #cccccc;
    background: #eeeeee;
    padding: 8px;
    max-width: 256px;
    display: table;
    margin-left: auto;
}

.media .image-container:not(:first-child) {
    margin-top: 16px;
}

.media .image {
    display: flex;
    justify-content: center;
}

.media .image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 192px;
}

.media .caption {
    margin-top: 8px;
    font-size: 12px;
    text-align: center;
    color: #444444;
}

/* content */

.element {
    margin-top: 16px;
    line-height: 1.5rem;
}

.element-list {
    padding-left: 32px;
}

/* small screen */

@media screen and (max-width: 768px) {
    .infobox {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
    }

    .media {
        float: none;
        margin-left: 0;
    }

    .media .image-container {
        margin-left: 0;
    }

    .media .image-container:first-child {
        margin-top: 24px;
    }
}